html {
    scroll-behavior: smooth;
}

body {
    background-color: #03001C;
    color: #B6EADA;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    margin: 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0 45px 0 20px ;
}

.purple-section {
    background-color: #301E67;
    min-height: 100vh;

}

.tile {
    height: auto;
    margin: 15px;
    width: 295px;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 5px 10px;
}

h1, h2, h3 {
    font-family: 'Work sans', sans-serif;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: #B6EADA;
}

.action-btn {
    color: #5B8FB9;
    transition: all 0.2s;
}

.action-btn:hover {
    color: #B6EADA;
    transform: scale(1.2);
}

h2{
    font-size: 2rem;
    padding: 15px;
}

.text-section {
    border-bottom: #5B8FB9 solid 5px;
    border-left: #5B8FB9 solid 5px;
    border-end-start-radius: 10px;
    margin: 0;
    padding: 10px 0 10px 10px;
}

/*Header section styling*/

.home-btn {
    margin: 25px 15px;
    position: fixed;
    font-size: 1.5em;
}

.nav-text {
    border-left: #5B8FB9 solid 5px;
    writing-mode: vertical-rl;
    position: fixed;
    right: 0;
    padding: 10px 5px 0 ;
}

.header-section {
    flex-direction: row;
    justify-content: right;
    padding: 20px 50px 0 20px;
}

.header-section div {
    padding: 5px;
}

/*Hero section styling*/

.header-and-hero {
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-section {
    flex-direction: column;
    flex-grow: 1;
}

.welcome h1 {
    animation: fadeIn 3.6s;
    font-size: 4rem;
    padding-left: 15px;
}

.info-links {
    border-top: #5B8FB9 solid 5px;
    border-right: #5B8FB9 solid 5px;
    border-start-end-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px 0 10px 15px;
}

.info-links a {
    font-size: 1.5rem;
    padding: 5px 0;
    transition: all 0.2s;
}

.info-links a:hover {
    font-size: 1.6rem;
}

/*Projects section styling*/

.project-section {
    background-color: #301E67;
    min-height: 100vh;
    justify-content: flex-start;
}

.project-container {
    align-items: flex-start;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.tile-1 {
    border-top: #5B8FB9 solid 5px;
    border-left: #5B8FB9 solid 5px;
    border-start-start-radius: 10px;
    padding: 10px 0 0 10px;
}

.tile-2 {
    border-top: #5B8FB9 solid 5px;
    border-right: #5B8FB9 solid 5px;
    border-start-end-radius: 10px;
    padding: 10px 10px 0 0;
}

.project-info {
    align-items: center;
    background-color: #5B8FB9;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    text-align: center;
    transition: height 0.5s, background-color 0.5s;
}

.project-info:hover {
    height: 400px;
    background-color: #B6EADA;
    color: #301E67;
    justify-content: center;
}

.info-1 {
    border-start-start-radius: 5px;
    width: auto;
}

.info-2 {
    border-start-end-radius: 5px;
    width: auto;
}

.project-blurb {
    display:none;
}

.project-info:hover .project-blurb {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.project-link {
    color: #301E67;
    margin: 0 10px;
    transition: all 0.2s;
}

.project-link:hover {
    transform: scale(1.2);
}

.project-info h2 {
    padding: 0;
}

/*About me section*/

.text-section {
    padding-top: 0;
}

.km-portrait {
    height: 120px;
    aspect-ratio: 1 / 1;
    padding: 10px 10px 0 0;
    border-top: #5B8FB9 solid 5px;
    border-right: #5B8FB9 solid 5px;
    border-start-end-radius: 50%;
    border-end-start-radius: 50%;
    float: right;
    top: 0;
    right: 0;
}

.skills-subsection {
    display: flex;
    flex-direction: row;
    width: 100%
}

.skills-tile {
    height: auto;
    margin: 15px;
    width: 50%;
    border-top: #5B8FB9 solid 5px;
    border-left: #5B8FB9 solid 5px;
    border-right: #5B8FB9 solid 5px;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
}

.coding-skill {
    margin-left: 0;
}

.soft-skill {
    margin-right: 0
}

.skills-tile h2 {
    margin: 0;
    font-size: 2em;
    text-align: center;
}

.cert-subsection {
    border-bottom: #5B8FB9 solid 5px;
    border-right: #5B8FB9 solid 5px;
    border-end-end-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 0 50px 0;
    padding: 10px;
}

.cert-sub-sub {
    display:flex;
    flex-direction: column;
}

.cert-sub-sub a {
    padding: 5px;
}

.cv {
    display:flex;
    flex-direction: row;
    align-items: center;
}

/*Contact section*/

.contact-section {
    background-color: #301E67;
    min-height: 100vh;
}

.contact-info {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-button {
    display:flex;
    flex-direction: column;
}

.contact-button > * {
    padding: 20px
}

.fa-mobile-screen {
    color: #5B8FB9;
}

.contact-button > p {
    margin: 0;
}

.contact-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.contact-footer p {
    padding-top: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

form > * {
    margin: 5px;
}

input, textarea {
    background-color: #B6EADA;
    font-family: inherit;
    height: 25px;
    border: none;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    background-color: inherit;
    border: none;
    width: 50px
}




/*Media queries and responsiveness*/

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

