body {
    background-color: #03001C;
    color: #B6EADA;
    font-family: Poppins, serif;
    margin: 0;
}

/*Header section styling*/

.home-btn {
    color: #5B8FB9;
    margin: 20px;
    position: fixed;
    transition: color 2s;
}

.home-btn:hover {
    color: aliceblue;
}

.header-section {
    color: #5B8FB9;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 20px;
}

.header-section div {
    padding: 5px;
}

/*Hero section styling*/

.hero-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.welcome h1 {
    animation: fadeIn 3.6s;
    font-family: Raleway, serif;
    font-size: 4rem;
    padding-left: 15px;
}

.welcome p {
    animation: fadeIn 3s;
    animation-delay: 0.6s;
    border-bottom: #5B8FB9 solid 5px;
    border-left: #5B8FB9 solid 5px;
    border-end-start-radius: 10px;
    margin: 0 10px 0 0;
    padding: 10px 0 10px 10px;
}

.find-out h2{
    animation: fadeIn 3s;
    animation-delay: 0.6s;
    font-size: 2rem;
    padding: 15px;
}

.info-links {
    animation: fadeIn 3s;
    animation-delay: 0.6s;
    border-top: #5B8FB9 solid 5px;
    border-right: #5B8FB9 solid 5px;
    border-start-end-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 0;
    padding: 10px 0 10px 15px;
}

.info-links a {
    color: #B6EADA;
    font-size: 1.5rem;
    padding: 5px 0;
    transition: font-size 0.5s;
}

.info-links a:hover {
    font-size: 1.75rem;
}

/*Media queries and responsiveness*/

@media screen and (min-width: 600px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }
    .find-out {
        padding: 20vh 2vh 2vh 2vh;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

